<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="nl" lang="nl">
<head>
<title>{{base.title}}</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<link type='text/css' rel='stylesheet' href="{{url_for('static',filename='css/main.css')}}"/>
<link type='text/css' rel='stylesheet' href="{{url_for('static', filename='bootstrap/css/bootstrap.min.css')}}"/>
<script type='text/javascript' scr="{{url_for('static', filename='js/jquery.js')}}"></script>
<style>
.inner-main{
		padding: 6rem 1.5rem;
		clear:both;
}
</style>
</head>
<body>
	<header>{% include 'includes/_nav.html' %}</header>
<div class="container-fluid inner_main">
<div class="main row">
<div class="col-3">{% block sidebar %}{% endblock sidebar %}</div>
<main role="main" class= col-9">
	{% block header %}
		
	{% endblock header %}
	{% block content %}
		
	{% endblock content %}

</main>
</div>
</div>
<footer id='footer' class='footer'>
	<div class="container">
		<span class="text-muted">Place sticky footer content here.</span>
	</div>
	{% block footer %}{% endblock footer %}
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% block additional_scripting %}{% endblock additional_scripting %}
</body>
</html>
